<div class="row">
    <div class="col-md-10 col-md-offset-2">
        <h4>Projects</h4>

        <div class="col-md-6">
            <table ng-table="tableParams" class="table-bordered">
                <tr ng-repeat="project in projects" ng-click="showProject(project)">
                    <td data-title="'Name'">{{ project.name }}</td>
                    <td data-title="'Path'">{{ project.path }}</td>
                    <td data-title="'Status'">{{ project.status }}
                        <button ng-show="project.status === 'Unloaded'"
                                ng-click="uploadProject(project);"> Upload
                        </button>
                        <button ng-show="project.status === 'Changed'"
                                ng-click="uploadProject(project)">Sync
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-10 col-sm-offset-1">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="inputProjectName" class="col-sm-2 control-label">Name</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" id="inputProjectName" ng-model="newProjectName"
                           placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <label for="inputProjectPath" class="col-sm-2 control-label">Path</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" id="inputProjectPath" ng-model="newProjectPath"
                           placeholder="Path">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" ng-click="newProject()">New Project</button>
                </div>
            </div>
        </form>

    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-10 col-md-offset-2">
        <h4>Tree for project {{projectName}}</h4>
        <!--<ngtree selected="showSelected(d)" treeview-data="projectTree" unique-id="id"-->
        <!--display-attr="displayname"></ngtree>-->
        <table treetable treedata="projectTree">
            <thead>
            <tr>
                <th>Name</th>
                <th>Kind</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="entry in projectTree" data-tt-id={{entry.id}} data-tt-parent-id={{entry.parent_id}}
                contextmenu="mymenu">
                <td>{{ entry.displayname }}</td>
                <td>{{ entry.type }}</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a ng-click="action1(entry)">Action 1</a></li>
                            <li><a ng-click="action2(entry)">Action 2</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <menu type="context" id="mymenu">
            <menuitem label="Menu Item 1"></menuitem>
            <menuitem label="Menu Item 2"></menuitem>
        </menu>
    </div>
</div>
